# Local development
*.env
*.dev
.DS_Store
.classpath
.project
.idea
.settings
*.iml
pg/pg-prepaid.iml
app/datos-mock.cache

target/

app/activemq-data-prepaid
app/.idea
app/.settings
app/.classpath
app/.project

pg/.idea
pg/.settings
pg/.classpath
pg/.project

kong/.idea
kong/.settings
kong/.classpath
kong/.project

db-id.txt
jenkins.properties
test-*.properties
test_*.properties
development-*.properties
development_*.properties
qa-*.properties
qa_*.properties
production-*.properties
production_*.properties
pg/dump.sql

# Docker
Dockerfile
docker-compose.yml

# Logs
logs
*.log
