# Local development
*.env
!env/*.env
*.dev
.DS_Store
.classpath
.project
.idea
.settings
*.iml
pg/pg-prepaid.iml
app/datos-mock.cache
.factorypath

target/

app/clearing_files
app/accounting_files
app/activemq-data-prepaid
app/activemq-data
app/.idea
app/.settings
app/.classpath
app/.project
app/TRX_PREPAGO_*

pg/.idea
pg/.settings
pg/.classpath
pg/.project

kong/.idea
kong/.settings
kong/.classpath
kong/.project

db-id.txt
jenkins.properties
test-*.properties
test_*.properties
development-*.properties
development_*.properties
qa-*.properties
qa_*.properties
production-*.properties
production_*.properties
pg/dump.sql

# Logs
logs
*.log

app/hostkey\.ser

app/src/test/resources/mastercard/T058/done/

app/src/test/resources/mastercard/T058/error/

app/src/test/resources/multicajared/done/*.csv
app/src/test/resources/multicajared/error/*.csv
