# Local development
*.env
*.dev
.DS_Store
.classpath
.project
.idea
.settings

target/

db-id.txt
jenkins.properties
test-*.properties
test_*.properties
development-*.properties
development_*.properties
qa-*.properties
qa_*.properties
production-*.properties
production_*.properties

# Docker
Dockerfile
docker-compose.yml

# Logs
logs
*.log
